<div class="tablediv row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <table class="table table-hover table-responsive">
        <tr>
        	<td>
        		<label> Product Id </label>
        	</td>
        	<td>
        		<input class="form-control" ng-model="product.id" placeholder="Please enter 6 digit number"/>
        	</td>
        	<td>
        		<label> Product Name </label>
        	</td>
        	<td>
        		<input class="form-control" ng-model="product.name"/>
        	</td>
        </tr>
        	
        <tr>
        	<td>
        		<label> Sale Price </label>
        	</td>
        	<td>
        		<input class="form-control" ng-model="product.salePrice" placeholder="Please enter numbers"/>
        	</td>
        	<td>
        		<label> Regular Price </label>
        	</td>
        	<td>
        		<input class="form-control" ng-model="product.regularPrice" placeholder="Please enter numbers"/>
        	</td>
        </tr>
        <tr>
        	<td>
        		<label> Short Description </label>
        	</td>
        	<td colspan="3">
        		<input class="form-control" ng-model="product.shortDesc" />
        	</td>
        </tr>
         <tr>
        	<td colspan="2">
        		
        	</td>
        	<td colspan="2">
        		<button class="button btn-success" ng-click="add(product)">
                        Add
                </button> 
        	</td>
        </tr>
        </table>
    </div>
    <div class="col-sm-2">
    </div>
 </div>      
        
<div class="tablediv row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <table class="table table-striped table-hover table-bordered table-responsive" ng-show="products">
            <thead>
                <tr>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product description
                    </th>
                    <th>
                        Product price
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="product in products">
                    <td width="20%" class="prdtimg"><img class="centeredImg" ng-src="{{product.image}}" 
                    alt="Image currently unavailable"></td>
                    <td width="60%">
                        <h4><b>{{product.name}}</b></h4>
                        <p><b>Product Id: </b>{{product.id}}</p>
                        <p><b>Short Description:</b> {{product.shortDesc}}</p>
                    </td>
                    <td width="40%">
                        <p><b>Regular price : </b>${{product.regularPrice}}</p>
                        <p><b>Sale Price : </b>${{product.salePrice}}</p>
                    </td>
                    <td>
                        <button ng-click="addToFavorites(product)" class="btn btn-warning">
                            Add to Favorites
                        </button>
                        <button ng-click="addToCart(product)" class=" btn btn-success">
                            Add to cart
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
    </div>
</div>